engine-strict=true
fund=false
update-notifier=false
loglevel=error

registry=https://nexus.rocs.io:8081/repository/npm-public/
always-auth=true
//nexus.rocs.io:8081/repository/npm-skillsoft/:_auth=ZGVwbG95bWVudDpTZXJpT3VzbHlOb3RUaGlzMSE=
//nexus.rocs.io:8081/repository/npm-public/:_auth=ZGVwbG95bWVudDpTZXJpT3VzbHlOb3RUaGlzMSE=
